# Các file tạm của hệ thống
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Chặn file rác của Frontend (Flutter)
Frontend/.dart_tool/
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies
Frontend/build/
Frontend/.pub-cache/

# Chặn file rác của Backend (Laravel)
backend/vendor/
backend/.env
backend/bootstrap/cache/
backend/storage/*.key
backend/public/storage