# --- CẤU HÌNH CHUNG ---
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.log

# --- FRONTEND (FLUTTER) ---
Frontend/.dart_tool/
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies
Frontend/.packages
Frontend/build/
Frontend/.pub-cache/
Frontend/.pub/

# --- BACKEND (LARAVEL) ---
Backend/vendor/
Backend/.env
backend/vendor/
backend/.env
backend/node_modules/
backend/public/hot
backend/public/storage
backend/bootstrap/cache/
backend/storage/*.key
backend/.phpunit.result.cache
backend/npm-debug.log
backend/yarn-error.log